/* .header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black ;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10px;

}

.logo {
    width: 100px;
    margin: 10px;
}

.card {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card > img {
    width: 100%;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 200px;
    height: 200px;
    background: lightgray;
    margin: 20px;
}

.menu {
    display: flex;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

/***************/
/*   Whitney   */
/***************/

@font-face {
  font-family: Whitney;
  font-weight: 300;
  src: url(fonts/Whitney/Whitney-300.woff) format("woff");
}

@font-face {
  font-family: Whitney;
  font-weight: 400;
  src: url(fonts/Whitney/Whitney-400.woff) format("woff");
}

@font-face {
  font-family: Whitney;
  font-weight: 500;
  src: url(fonts/Whitney/Whitney-500.woff) format("woff");
}

@font-face {
  font-family: Whitney;
  font-weight: 600;
  src: url(fonts/Whitney/Whitney-600.woff) format("woff");
}

@font-face {
  font-family: Whitney;
  font-weight: 700;
  src: url(fonts/Whitney/Whitney-700.woff) format("woff");
}

/***************/
/*    Ginto    */
/***************/

@font-face {
  font-family: Ginto;
  font-weight: 300;
  src: url(fonts/Ginto/Ginto-300.woff) format("woff");
}

@font-face {
  font-family: Ginto;
  font-weight: 400;
  src: url(fonts/Ginto/Ginto-400.woff) format("woff");
}

@font-face {
  font-family: Ginto;
  font-weight: 500;
  src: url(fonts/Ginto/Ginto-500.woff) format("woff");
}

@font-face {
  font-family: Ginto;
  src: url(fonts/Ginto/Ginto-600.woff) format("woff");
  font-weight: 600;
}

@font-face {
  font-family: Ginto;
  font-weight: 700;
  src: url(fonts/Ginto/Ginto-700.woff) format("woff");
}

/****************/
/* Ginto-Italic */
/****************/

@font-face {
  font-family: Ginto;
  font-weight: 300;
  font-style: italic;
  src: url(fonts/Ginto/Ginto-300-italic.woff) format("woff");
}

@font-face {
  font-family: Ginto;
  font-weight: 400;
  font-style: italic;
  src: url(fonts/Ginto/Ginto-400-italic.woff) format("woff");
}

@font-face {
  font-family: Ginto;
  font-weight: 500;
  font-style: italic;
  src: url(fonts/Ginto/Ginto-500-italic.woff) format("woff");
}

@font-face {
  font-family: Ginto;
  font-weight: 600;
  font-style: italic;
  src: url(fonts/Ginto/Ginto-600-italic.woff) format("woff");
}

@font-face {
  font-family: Ginto;
  font-weight: 700;
  font-style: italic;
  src: url(fonts/Ginto/Ginto-700-italic.woff) format("woff");
}

/**************/
/* Ginto-Nord */
/**************/

@font-face {
  font-family: GintoNord;
  font-weight: 500;
  src: url(fonts/Ginto-Nord/Ginto-Nord-500.woff2) format("woff2"),
    url(fonts/Ginto-Nord/Ginto-Nord-500.woff) format("woff");
}

@font-face {
  font-family: GintoNord;
  font-weight: 600;
  src: url(fonts/Ginto-Nord/Ginto-Nord-600.woff2) format("woff2"),
    url(fonts/Ginto-Nord/Ginto-Nord-600.woff) format("woff");
}

@font-face {
  font-family: GintoNord;
  font-weight: 700;
  src: url(fonts/Ginto-Nord/Ginto-Nord-700.woff2) format("woff2"),
    url(fonts/Ginto-Nord/Ginto-Nord-700.woff) format("woff");
}

/***************/
/*   gg sans   */
/***************/
@font-face {
  font-family: "ggSans";
  font-weight: 400;
  src: url(fonts/gg-sans/ggsans-Normal.ttf);
}
@font-face {
  font-family: "ggSans";
  font-weight: 500;
  src: url(fonts/gg-sans/ggsans-Medium.ttf);
}
@font-face {
  font-family: "ggSans";
  font-weight: 600;
  src: url(fonts/gg-sans/ggsans-Semibold.ttf);
}
@font-face {
  font-family: "ggSans";
  font-weight: 700;
  src: url(fonts/gg-sans/ggsans-Bold.ttf);
}

/* Swiggy Font */

@font-face {
  font-family: "Proxima";
  font-weight: 300;
  src: url(fonts/Proxima-Nova-Regular/Proxima-Nova-Regular.ttf);
}
@font-face {
  font-family: "Proxima";
  font-weight: 400;
  src: url(fonts/Proxima-Nova-Regular/Proxima-Nova-Regular.ttf);
}
@font-face {
  font-family: "Proxima";
  font-weight: 500;
  src: url(fonts/Proxima-Nova-Regular/Proxima-Nova-Regular.ttf);
}
@font-face {
  font-family: "Proxima";
  font-weight: 600;
  src: url(fonts/Proxima-Nova-Regular/Proxima-Nova-Regular.ttf);
}
@font-face {
  font-family: "Proxima";
  font-weight: 700;
  src: url(fonts/Proxima-Nova-Regular/Proxima-Nova-Regular.ttf);
}

/***************/
/* Swiggy Font */
/***************/

@font-face {
  font-family: ProximaNova;
  font-weight: 700;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/700.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/700.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/700.ttf") format("truetype")
}

@font-face {
  font-family: ProximaNova;
  font-weight: 600;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/600.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/600.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/600.ttf") format("truetype")
}

@font-face {
  font-family: ProximaNova;
  font-weight: 500;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/500.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/500.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/500.ttf") format("truetype")
}

@font-face {
  font-family: ProximaNova;
  font-weight: 400;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/400.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/400.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/400.ttf") format("truetype")
}

@font-face {
  font-family: ProximaNova;
  font-weight: 300;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/300.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/300.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/300.ttf") format("truetype")
}

@font-face {
  font-family: ProximaNovaBold;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/bold.eot");
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/bold.eot?#iefix") format("embedded-opentype"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/bold.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/bold.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/bold.ttf") format("truetype")
}

@font-face {
  font-family: AsapCondensedSemiBold;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/AsapCondensed-SemiBold.eot");
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/AsapCondensed-SemiBold.eot?#iefix") format("embedded-opentype"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/AsapCondensed-SemiBold.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/AsapCondensed-SemiBold.ttf") format("truetype"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/AsapCondensed-SemiBold.svg#AsapCondensedSemiBold") format("svg");
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: ProximaNovaCondensedBold;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Bold.eot");
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Bold.eot?#iefix") format("embedded-opentype"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Bold.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Bold.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Bold.ttf") format("truetype");
  font-style: normal
}

@font-face {
  font-family: ProximaNovaBlack;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaBlack.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaBlack.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaBlack.ttf") format("truetype");
  font-style: normal
}

@font-face {
  font-family: ProximaNovaCondensedBlack;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Black.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Black.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Black.ttf") format("truetype");
  font-style: normal
}

@font-face {
  font-family: ProximaNovaCondensedRegular;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaCondensedRegular.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaCondensedRegular.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaCondensedRegular.ttf") format("truetype");
  font-style: normal
}

@font-face {
  font-family: ProximaNovaExtraBold;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaBlack.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaBlack.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaExtraBold.ttf") format("truetype");
  font-style: normal
}

@font-face {
  font-family: ProximaNovaLight;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaLight.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaLight.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaLight.ttf") format("truetype");
  font-style: normal
}

@font-face {
  font-family: ProximaNovaSemiBold;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaSemiBold.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaSemiBold.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ux3/ProximaNovaSemiBold.ttf") format("truetype");
  font-style: normal
}

@font-face {
  font-family: ProximaNovaCondensedExtraBold;
  src: url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Extrabld.woff2") format("woff2"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Extrabld.woff") format("woff"),url("https://media-assets.swiggy.com/dls-web-assets/dls/fonts/ProximaNovaCond-Extrabld.ttf") format("truetype");
  font-style: normal
}

.fonts-loaded {
  font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
  letter-spacing: 0
}


/***************/
/* BasisGrotesquePro-Bold */
/***************/

@font-face {
  font-family: BasisGrotesquePro-Bold;
  src: url(fonts/Proxima-Nova-Regular/Proxima-Nova-Regular.ttf) format("woff2");
  font-weight: 300;
  font-style: bold;

}
@font-face {
  font-family: BasisGrotesquePro-Bold;
  src: url(fonts/Proxima-Nova-Regular/Proxima-Nova-Regular.ttf) format("woff2");
  font-weight: 400;
  font-style: bold;

}
@font-face {
  font-family: BasisGrotesquePro-Bold;
  src: url(fonts/Proxima-Nova-Regular/Proxima-Nova-Regular.ttf) format("woff2");
  font-weight: 500;
  font-style: bold;

}
@font-face {
  font-family: BasisGrotesquePro-Bold;
  src: url(fonts/Proxima-Nova-Regular/Proxima-Nova-Regular.ttf) format("woff2");
  font-weight: 600;
  font-style: bold;

}
@font-face {
  font-family: BasisGrotesquePro-Bold;
  src: url(fonts/Proxima-Nova-Regular/Proxima-Nova-Regular.ttf) format("woff2");
  font-weight: 700;
  font-style: bold;

}


